.TodoSearch {
    background: #F9FBFC;
    border-radius: 2px;
    border: 2px solid #202329;
    height: 64px;
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat';
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  }
  
  .TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
  }
  
  .TodoSearch:focus {
    outline-color: #61DAFA;
  }

  .TodoSearch-div {
    display: flex; 
    align-content: center; 
    justify-content:  center
  }